<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Pset 2: Probability through Independence
					</h1>
					<p class="subtleHeading"><span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Due: Friday, Oct 7th, 12P.M.
				</p>

				</div>
				<hr/>

				<!--<center>
				<img style="width:80%" src="{{pathToRoot}}img/overview/overview.png">	
			</center>-->
			</div>
		</div>


		
		
				
		<div class="row">
			<div class="col-sm-12">
				<p>
					
					
				</p>

				
				<p class="subtleHeading">Resources</p>
				<p>
					<div class="row">
						<div class="col-sm-2"><a href="{{pathToRoot}}handouts/4-Fauxtoshop.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;margin-left:0px"></span><br><span style="margin-left:5px">Handout</span></a>
						</div>
						<div class="col-sm-2">
							<a href="{{pathToRoot}}assnFiles/fauxtoshop/cs106b-hw1-fauxtoshop-starter-files.zip"><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size: 5em;margin-left:5px"></span><br>
					Starter Code</a>
						</div>

						
					</div>
					<br/>
				</p>
			</div>
		</div>


	

		%include templates/parts/footer.html

	</div>

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDD").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

</body>
